# Dependencies
node_modules/
package-lock.json

# Screenshots & Temporary files
*.png
temp/
.edge_temp_profile*

# Vercel
.vercel/

# Supabase CLI
supabase/.temp/

# Secrets
.env
.env.*
*.local

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
